#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 177, 106, 1);
    position: fixed;
    height: 100%;
    overflow: auto;
    
    float: left;
    z-index: 99;
}

#navigation li a {
    display: block;
    color: #FFF !important;
    padding: 8px 16px 8px 16px;
    text-decoration: none;
    font-family: "Open Sans";
}

#navigation li .brand {
    font-weight: 700;
}

#navigation li a:hover {
    background-color: white;
    color: black !important;
}

#navigation .active {
    background-color: rgba(36, 156, 91, 1);
    color: white;
}

#ham {
    position:fixed;
    z-index: 100;
    background-color: transparent!important;
    border-radius: 0 !important;
    border-color: transparent !important;
}

#ham span {
    color: white;
    text-shadow: 0 0 5px black;
}

#ham-arrow {
    position: fixed;
    z-index: 100;
    color: white;
    margin: 0 0 0 5%;
    
    font-family: "Open Sans";
    font-size: 2em;
}

#startseite .startseite-branding {
    position: absolute;
    z-index: 10;
    
    left: 0;
    width: 100%;
    line-height: 1em;
    text-align: center;
    
    font-family: "Quicksand";
    font-weight: 700;
    color: #FFFFFF;
    text-shadow: 0px 2px 15px #000000;
}

#scroll-arrow-up {
    position: fixed;
    z-index: 100;
    color: white;
    font-size: 2em;
    margin: 2% 0 0 50%;
}

#scroll-arrow-down {
    position: fixed;
    z-index: 100;
    color: white;
    font-size: 2em;
    margin: 91% 0 0 50%;
}
/*Startseite Hintergrund*/
#startseite img {
    min-height: 100%;
    min-width: 1024px;
    
    width: 100%;
    height: auto;
    
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) {
    #startseite img {
        left: 50%;
        margin-left: -512px;
    }
}

#about-us,
#trainingszeiten {
    font-family: "Open Sans";
}

#about-us h1 {
    text-align: center;
    font-weight: 700;
    color: white;
}

#trainingszeiten h1 {
    text-align: center;
    font-weight: 700;
    font-size: 5em;
    color: white;
    
}

#about-us p {
    text-align: justify;
    font-size: 1.5em;
    color: white;
}

#trainingszeiten table {
    background-color: #00B16A;
}

#trainingszeiten td {
    border: 1px solid #3FC380;
    text-align: center;
}

#trainingszeiten th {
    border: 2px solid #C8F7C5;
    text-align: center;
}